.loader {
    animation-name: loader-delay;
    animation-delay: 0ms;
    animation-duration: 2s;
}

@keyframes loader-delay {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}