.topnav {
    overflow: hidden;
    background-color: var(--background);
    position: relative;
}

.topnav #myLinks {
    display: flex;
}

.topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: .3s;
}

.topnav a:hover {
    color: var(--pink);
}

.active {
    background-color: var(--pink);
    color: var(--foreground);
    border-radius: 5px;
}

.topnav .active:hover {
    background: var(--pink-hover);
    color: #fff;
}