.container {
    max-width: 800px;
}

.logoContent {
    margin: 0 auto;
    margin-top: 6rem;
    background: var(--current-line);
    border-radius: 10px;
    width: 13rem;
    padding: 2rem;
}

.inputs {
    margin-top: 3.5rem;
}

.inputs input {
    border: 2px solid #ffffff;
    border-left: 0px solid;
}

.inputs span {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-right: 0px solid;
    transition: 0.2s;
}

.inputs .formGroup,
.loginButton {
    margin: 2rem auto;
    width: 20rem;
}

.loginButton {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

.links {
    margin: 1.2rem auto;
    width: 20rem;
}

.links a {
    color: var(--foreground);
    text-decoration: none;
    transition: 0.3s;
}

.links a:hover {
    color: #d3d3d3ec
}

.link-register a {
    font-size: 1.1rem;
    margin-top: 2.4rem;
    color: var(--pink);
}

.link-register a:hover {
    color: #ec66b2;
}

@keyframes appearFromLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appearFromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appearFromTop {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appearFromBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-login {
    animation: appearFromRight 1s;
}

.container-register {
    animation: appearFromLeft 1s;
}