.inputSearch {
    margin: 6rem auto;
    margin-bottom: 3rem;
    max-width: 800px;
    height: 60px;
    border: 0;
    border-right: 0;
}

.inputSearch input {
    border: 2px solid #ffffff;
}

.inputSearch button {
    width: 100px;
}

.fixedButton {
    position: fixed;
    bottom: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

@media(max-width: 768px) {
    .fixedButton {
        left: 50%;
        transform: translateX(-50%);
    }
    .fixedButton:active {
        transform: translateX(-50%);
    }
    .menuItem {
        font-size: 1.1rem;
    }
    .menuItemFooter {
        width: 6rem;
    }
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .fixedButton {
        left: 70%;
    }
}

@media (min-width: 1480px) and (max-width: 1680px) {
    .fixedButton {
        left: 75%;
    }
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1480px) {
    .fixedButton {
        left: 79%;
    }
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .fixedButton {
        left: 85%;
    }
}

.footerFixed {
    height: 8%;
    width: 100%;
    z-index: inherit;
    background-color: rgba(56, 58, 89, 0.185);
    position: fixed;
    bottom: 0rem;
}

.modalContent {
    padding: 0.7rem;
    border-radius: 1.3rem;
}